body {
  background-color: burlywood;
}

img:hover {
  border-style: groove;
}

author {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}

author:hover {
  text-transform: uppercase;
  color: crimson;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: darkblue;
}

a:active {
  color: crimson;
}

a:visited {
  color: red;
}
